<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragment</title>
</head>
<body>
<label>BOARD </label>

<div id = "gameBoard" th:if="${gameState != null}">
    <p></p>
    <div class="Status" id="Status">
        <label th:text="${gameState.statusMessage}"></label>
    </div>
    <p></p>

    <div  th:if="${playerType == null}">
        <label>PLAYER TYPE MISSING!</label>
        </div>
    <div  th:if="${playerType == 'guest'}">
    <div>
        <h2>Enemy Pits</h2>
        <div th:replace="~{fragments/tableFragment :: tableFragment(bottom=false, left=true, enabled=false, start=0, end=6, items=items)}"></div>
    </div>
    <div>
        <h2>Your Pits</h2>
        <div th:replace="~{fragments/tableFragment :: tableFragment(bottom=true, left=false, enabled=${gameState.currentPlayer==1}, start=7, end=13, items=items)}"></div>
    </div>
    </div>

    <div  th:if="${playerType == 'host'}">
        <div >
            <h2>Enemy Pits</h2>
            <div th:replace="~{fragments/tableFragment :: tableFragment(bottom=false, left=true, enabled=false, start=7, end=13, items=items)}"></div>
        </div>
        <div >
            <h2>Your Pits</h2>
            <div th:replace="~{fragments/tableFragment :: tableFragment(bottom=true, left=false, enabled=${gameState.currentPlayer==0}, start=0, end=6, items=items)}"></div>
        </div>
    </div>

    <p></p>
    <div class="LOG" id="log">
        <div th:replace="~{fragments/log :: log(messages=${messages})}"></div>
    </div>

</div>
</body>
</html>
