<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mancala Game</title>
</head>
<body>

<div id = "gameBoard" th:if="${gameState != null}">
    <p></p>
    <div class="Status" id="Status">
        <div  class="mainText" th:text="${gameState.statusMessage}"></div>
    </div>
    <p></p>

    <div  th:if="${playerType == 'guest'}">
        <h2 th:text="${gameState.players.get(0)}"></h2>
    <div>
        <div th:replace="~{fragments/tableFragment :: tableFragment(bottom=false, left=true, enabled=false, start=0, end=6, items=items)}"></div>
    </div>
    <div>
        <div th:replace="~{fragments/tableFragment :: tableFragment(bottom=true, left=false, enabled=${gameState.currentPlayer==1}, start=7, end=13, items=items)}"></div>
    </div>
        <h2 th:text="${gameState.players.get(1)}"></h2>
    </div>

    <div  th:if="${playerType == 'host'}">
        <h2 th:text="${gameState.players.get(1)}"></h2>
        <div >
            <div th:replace="~{fragments/tableFragment :: tableFragment(bottom=false, left=true, enabled=false, start=7, end=13, items=items)}"></div>
        </div>
        <div >
            <div th:replace="~{fragments/tableFragment :: tableFragment(bottom=true, left=false, enabled=${gameState.currentPlayer==0}, start=0, end=6, items=items)}"></div>
        </div>
        <h2 th:text="${gameState.players.get(0)}"></h2>
    </div>

    <p></p>
    <div class="LOG" id="log">
        <div th:replace="~{fragments/log :: log(messages=${messages})}"></div>
    </div>

</div>
</body>
</html>
