<div th:class="${ bottom? 'bottom' : 'top' }" th:fragment=tableFragment>

  <div class="mancala"  th:if="${left == true}" >
    <label th:text="|Store: ${gameState.pits[end]}|">
    </label>
  </div>
  <div class="gameBoard">
  <div  th:each="i : ${#numbers.sequence(start, end-1)}">
      <form  hx-post="/makeMove" hx-target="#gameBoard" hx-swap="outerHTML">
        <input type="hidden" name="pitIndex" th:value="${i}" />
        <div th:if="${enabled == true}">
        <button class="pit" type="submit" th:text="${gameState.pits[i]}">Make Move</button>
        </div>
        <div th:if="${enabled != true}">
        <button class="pit" type="submit" th:text="${gameState.pits[i]}" disabled>Make Move</button>
        </div>
      </form>
  </div>
  </div>

  <div class="mancala"  th:if="${left != true}" >
    <label th:text="|Store: ${gameState.pits[end]}|">
    </label>
  </div>
</div>