<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://unpkg.com/htmx.org"></script>
    <title>Game Board</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">

</head>
<body>

<div class="mainArea">
    <label>Welcome!</label>
    <p></p>
    <div th:if="${gameState == null && hostWaiting == true}">
        <script th:inline="javascript">
var tabId = /*[[${tabId}]]*/ 'defaulttabId';
 console.log("TAB ID RELOADED: ", tabId);
sessionStorage.setItem('tabId', tabId);
    </script>
        <div th:if="${gameState == null && hostWaiting == true}"
             class="HX" id="startCheck"  hx-get="/check-game-room" hx-trigger="every 1s" hx-swap="innerHTML">
            <form hx-post="/startGame">
                <button type="submit" disabled>Start Game</button>
            </form>
        </div>

        <p></p>

        <div class="HX" hx-get="/syncGameState" hx-trigger="every 2s" hx-swap="innerHTML">
            <div></div>
        </div>

        <script src="../js/setup-hx-vals.js"></script>
    </div>
    <script th:inline="javascript">
var tabId = /*[[${tabId}]]*/ 'defaulttabId';
 console.log("TAB ID RELOADED: ", tabId);
sessionStorage.setItem('tabId', tabId);
    </script>
    <div th:if="${hostWaiting != true}">
        <div class="HX"  hx-get="/syncGameState" hx-trigger="every 2s" hx-swap="innerHTML">
            <div></div>
        </div>

        <script src="../js/setup-hx-vals.js"></script>
    </div>

    <div  id="home" >
        <form th:action="@{/back}" method="get">
            <button type="submit">Back Home</button>
        </form>

        <script th:src="@{../js/setup-forms-tab-id-param.js}">
        </script>
    </div>
</div>
</body>
</html>